@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 67% 92%;
    --foreground: 120 10% 10%;
    --card: 120 60% 98%;
    --card-foreground: 120 10% 10%;
    --popover: 120 60% 98%;
    --popover-foreground: 120 10% 10%;
    --primary: 110 65% 50%;
    --primary-foreground: 110 20% 98%;
    --secondary: 120 25% 90%;
    --secondary-foreground: 120 10% 15%;
    --muted: 120 25% 90%;
    --muted-foreground: 120 10% 30%;
    --accent: 80 50% 60%;
    --accent-foreground: 80 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 85%;
    --input: 120 20% 88%;
    --ring: 110 65% 50%;
    --chart-1: 110 65% 50%;
    --chart-2: 80 50% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 120 10% 8%;
    --foreground: 120 10% 85%;
    --card: 120 10% 12%;
    --card-foreground: 120 10% 85%;
    --popover: 120 10% 8%;
    --popover-foreground: 120 10% 85%;
    --primary: 110 65% 50%;
    --primary-foreground: 110 20% 98%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 120 10% 85%;
    --muted: 120 10% 15%;
    --muted-foreground: 120 10% 60%;
    --accent: 80 50% 60%;
    --accent-foreground: 80 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 110 65% 50%;
    --chart-1: 110 65% 50%;
    --chart-2: 80 50% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
  }
}
